* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(213, 218, 213, 0.466);
    padding: 0 7%;
    counter-reset: section;
}

.header {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: orange;
}

.header nav {
    text-align: center;
}

.header nav ul {
    list-style: none;
}
.header nav ul li {
    display: inline-flex;
}
.header nav ul li a {
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
    color: #000;
}
.header nav ul li a:hover {
    color: #ffff;
}

input {
    padding: 7px 10px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ddd;
}

input:focus {
    color: rgb(14, 185, 22);
}

ul li:nth-child(2n+1) {
    background-color: orange;
}


a:visited {
    color: rgb(5, 16, 179);
}

.before h1::before  {
    content: "Hello";
}

ul p::before {
    counter-increment: section;
    content: "Crush " counter(section) ": "
}

.container {
    background-color: orange;
    position: relative;
}

.container div {
    width: 100px;
    height: 100px;
}
#first {
    background-color: blue;
}

#second {
    background-color: blueviolet;
    position: relative;
    top: 0px;
    left: 100px;
}

#third {
    background-color: green;
}

#forth {
    background-color: violet;
    position: absolute;
    top: 0px;
    left: 200px;
}

#five {
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 200px;
}

#six {
    background-color: green;
    position: absolute;
    top: 200px;
    left: 200px;
}

#seven {
    background-color: violet;
    position: absolute;
    top: 100px;
    left: 300px;
}

#eight {
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 200px;
}
